.item-container {
  display: grid;
  grid-template-areas:
    "image"
    "title"
    "description"
    "category";
  background-color: #ffffff;
  align-items: flex-end;
  grid-template-rows: 360px 50px 156px 30px;
  row-gap: 10px;
}

.image {
  grid-area: image;
  width: 100%;
  align-self: stretch;
}

.title {
  grid-area: title;
  font-weight: bold;
  align-self: start;
  padding-left: 10px;
  padding-top: 10px;
}

.description {
  grid-area: description;
  align-self: start;
  max-height: 100%;
  overflow: hidden;
  padding-left: 10px;
}
.category::before {
  border-left: 4.5px solid #ace1af;
  content: '';
  padding-right: 10px;
}

.category {
  grid-area: category;
  text-transform: uppercase;
  padding-left: 10px;
  align-self: center;
  color: #B0B0B0
}
